.git
.github
.idea
.vscode
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/
ios/
windows/
linux/
macos/
node_modules/
*.log
*.tmp
*.bat
k6-output.json
load-test.js
load_test/
docs/
test/
certs/
build/web/shilpsetu.apk
